<div id="landing-container">
   <section class="landing">
      <div class="landing-container">
         <div class="landing-content">
            <h1>Srdjan Rakic</h1>
            <h2>Full Stack Web Developer</h2>
            <ul class="social-media-list">
               <li><a target="_blank" href="https://github.com/srdjanRakic"><img src="{{site.baseurl}}/src/icons/svg/github-icon-white.png"/></a></li>
               <li><a target="_blank" href="https://www.linkedin.com/in/srdjan-rakic-7784b5113?trk=nav_responsive_tab_profile_pic"><img src="{{site.baseurl}}/src/icons/svg/linkedin.svg"/></a></li>
               <li><a target="_blank" href="mailto:srg_ian@ghotmail.com"><img src="{{site.baseurl}}/src/icons/svg/gmail.svg"/></a></li>
            </ul>
         </div>
      </div>
   </section>
   <section class="about" id="about" >
      <div class="content-wrapper">
         <h2 class="section-title">About Me</h2>
         <div class="about-content">
            <div class="about-text">
               <h3>Srdjan Rakic</h3>
               <h4>Full Stack Web Developer</h4>
               <p>I am a Software developer from Macedonia with a passion for making incredible web applications. Currently I am a developer at Seavus, where I am immersing myself in the world of JavaScript and C# and learning the latest web technologies. If you want to get to know more about me or want to work on a project together, feel free to contact me on srg_ian at hotmail.com.</p>
               <!--<a href="#" class="about-btn">Download Resume</a>-->
            </div>
            <div class="srdjan-image"></div>
         </div>
      </div>
   </section>
   <section class="skills">
      <div class="skills-container">
         <h2 class="section-title">Skills</h2>
         <div class="column fundamentals">
            <h3>Fundamentals</h3>
            <div class="skill-column">
               <ul>
                  <li>HTML5</li>
                  <li>CSS3</li>
                  <li>JavaScript</li>
                  <li>C#</li>
               </ul>
            </div>
         </div>
         <div class="column libraries">
            <h3>Libraries & Frameworks</h3>
            <div class="skill-column">
               <ul>
                  <li>Sass</li>
                  <li>Bootstrap</li>
                  <li>jQuery</li>
                  <li>Angular 2</li>
                  <li>React</li>
               </ul>
            </div>
         </div>
         <div class="column build">
            <h3>Build Tools</h3>
            <div class="skill-column">
               <ul>
                  <li>Gulp</li>
                  <li>Webpack</li>
               </ul>
            </div>
         </div>
      </div>
   </section>
   <section class="work">
      <div class="content-wrapper">
         <h2 class="section-title">Work History</h2>
         <ul class="timeline">
            <li>
               <div class="timeline-section left">
                  <div class="content-card">
                     <p class="content-card-title">MCA</p>
                     <p class="content-card-date">Full Stack Web Developer | 06/2016 - 06/2017</p>
                     <p class="content-card-description">Developing, designing and implementing cutting edge web applications which provide solutions to business problems</p>
                     <p class="content-card-description"></p>
                     <div class="content-card-skills-list">
                        <span>JavaScript | TypeScript</span>
                        <span>HTML5</span>
                        <span>CSS3</span>
                        <span>Angular 2</span>
                        <span>Knockout.js</span>
                        <span>C#</span>
                        <span>SQL</span>
                     </div>
                  </div>
               </div>
            </li>
            <li>
               <div class="timeline-section right">
                  <div class="content-card">
                     <p class="content-card-title">Seavus Education and Development Centre</p>
                     <p class="content-card-date">Lecturer and Asisstant | 11/2016 - present</p>
                     <p class="content-card-description">Introduction to JavaScript and jQuery.</p>
                     <div class="content-card-skills-list">       
                        <span>JavaScript</span>
                        <span>jQuery</span> 
                     </div>
                  </div>
               </div>
            </li>
            <li>
               <div class="timeline-section left">
                  <div class="content-card">
                     <p class="content-card-title">Seavus</p>
                     <p class="content-card-date">Full Stack Web Developer | 06/2017 - Present</p>
                     <p class="content-card-description">Developing, designing and implementing cutting edge web applications which provide solutions to business problems</p>
                     <div class="content-card-skills-list">       
                        <span>HTML5</span>
                        <span>CSS3</span>
                        <span>JavaScript</span>
                        <span>C#</span>
                        <span>SQL</span>
                     </div>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </section>
   <section class="projects" id="portfolio">
      <div class="content-wrapper">
         <h2 class="section-title">Projects and Awards</h2>
         <div>
            <div class="portfolio-content">
               <div class="row">
                  <div class="content-row">
                     <div class="project-description">
                        <a target="_blank" href="https://zenegy.com/">
                           <h2>Zenegy Danmark ApS</h2>
                        </a>
                        <p>Zenegy is innovative on-line payment system for all types and sizes of businesses. Zenegy gives you a complete overview of the entire payroll administration in your company.</p>
                     </div>
                     <div class="project-image">
                        <a target="_blank" href="https://zenegy.com/"><img src="{{site.baseurl}}/src/img/zenegy-logo.svg"/></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div>
            <div class="portfolio-content">
               <div class="row">
                  <div class="content-row">
                     <div class="project-description right">
                        <h2>Fruitlet</h2>
                        <p>Won the Social Impact Award at the 2016 CodeFest competition with a mobile application that aims to battle unhealthy eating habits by making healthy meals as accessible as fast food by utilizing state-of-the-art technologies.</p>
                     </div>
                     <div class="project-image">
                        <a target="_blank" href="https://zenegy.com/"><img src="{{site.baseurl}}/src/img/zenegy-logo.svg"/></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div>
            <div class="portfolio-content">
               <div class="row">
                  <div class="content-row">
                     <div class="project-description">
                        <h2>Fruitlet</h2>
                        <p>Won the 1st Prize Winner Pro Category at Codefest Marathon 2017 with a mobile application that aims to battle unhealthy eating habits by making healthy meals as accessible as fast food by utilizing state-of-the-art technologies.</p>
                     </div>
                     <div class="project-image">
                        <a target="_blank" href="https://zenegy.com/"><img src="{{site.baseurl}}/src/img/zenegy-logo.svg"/></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>